.articlePage{
    position: relative;
    z-index: 1;
    max-width: 1080px; /* Adjust max-width as needed */
    min-height: 80vh;
    margin: 0 auto; /* Center content horizontally */
    padding: 20px; /* Add padding to content */
    box-sizing: border-box; /* Include padding in width calculation */
    background-color: white;
}
.title{
   text-align: center; 
}
.date{
    text-align: center;
}
.content{
    padding: 20px;
    font-size: 18px;
}
.articleImage{
    max-width: 80vw;
}