
.topPanel{
    align-items: start;
    text-align: center;
}

.bottomPanel{
    align-items: center;
    text-align:center;
}

/* responsive design */

@media only screen and (min-width:30rem){
    .home{
        display: grid;
        grid-template-columns: 75% 25%;
    }

    .topPanel{
        display: grid;
        grid-template-columns: 25% 75%;
        margin: 10px;
        height: 650px;
        align-items: center;
    }

    .bottomPanel{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px;
    }
}