.home{
    display: grid;
    grid-template-rows: 1fr 1fr auto;
}
.topPanel{
    align-items: start;
    text-align: center;
    
}

.bottomPanel{
    align-items: center;
    text-align:center;
}

/* responsive design */

@media only screen and (min-width:30rem){
    .topPanel{
        display: grid;
        grid-template-columns: 30% 40% 30%;
        margin: 10px;
    }

    .bottomPanel{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }
}