.aboutContainer{
    width: 100%;
    height: 100%;
    
}


@media only screen and (min-width:30rem){
    .aboutContainer{
        margin-left: 1rem;
        background-image: linear-gradient(to right, #8dffbe, white 30%);
        border-bottom: 1px solid gray;
    }
}