
.articleContainer h2, p{
    padding-left: 0.5rem;
    text-align: left;
}
.articleContainer h1{
    color: black
}
.articleContainer a{
    text-decoration: none;
    color: black;
}
.articleContainer p{
    color: darkgray;
}
.coopNews{
    width:100%;
    background-color: lightgray;
    color: black;
    border-bottom: 1px solid darkgray;
    margin-left: 2px;
    margin-right:2px;
}
.coopNews h2{
    margin-left: 5px;
    margin-bottom: 5px;
}
/** style for new article tag **/
.newsWrapper{
    border-bottom: 1px solid darkgray;
}
.news-title {
    display: grid;
    grid-template-columns: 35% 65%;
}
.news-title p, h3{
    display: inline;
    text-align:left;
}
.articleTitle-container{
    padding-top:13px;
    text-align:left;
}
.articleTitle{
    color: black;
}
.tag{
    color: red;
}
/** style for button **/
.showMore{
    width: 100%;
    height: 30px;
    background-color: darkgray;
    color: white;
    text-decoration:solid;
}

@media only screen and (min-width:30rem){
    .articleContainer{
        margin-left: 1rem;
        margin-right: 1vw;
        height: auto;
        margin-bottom: 1rem;
   
    }
    .showMore{
        border: none;
        background-color: white;
        color:red;
        text-decoration: underline;
    }
}